#{set title:'Accueil mon pass retraite' /}
#{extends 'main.html' /}

<form action='/${ actionQueryParams }' method='POST'>

	#{stepsHiddenInputs /}
	
	#{doLayout /}

	#{if debug}
		<div class="form-group row col-sm-12">
			A ce stade : 
			<ul>
			<li>Régime liquidateur = '${data.hidden_liquidateur}'
			<li>états (hidden_userStatus) = '${data.hidden_userStatus}' 
			<li>liquidateurStep='${data.hidden_liquidateurStep}'
			<li>liquidateurReponseJsonStr='${data.hidden_liquidateurReponseJsonStr}'
			<li>liquidateurReponsesHistory='${data.hidden_liquidateurReponsesHistory}'
			<li>regimesInfosJsonStr='${data.hidden_regimesInfosJsonStr}'
			</ul>
		</div>
	#{/if}
</form>
