#{set title:'Accueil mon pass retraite' /}
#{extends 'main.html' /}

#{if !pageChecklist}
	<form action='@{Application.process}${ actionQueryParams }' method='POST'>
#{/if}
#{if pageChecklist}	
	<form action='@{Application.pdf}${ actionQueryParams }' method='POST'>
#{/if}	

	#{stepsHiddenInputs data:data /}
	
	#{doLayout /}

	#{if debug}
		<div class="form-group row col-sm-12">
			A ce stade : 
			<ul>
			<li>Informations : ${data.hidden_nom}, ${data.hidden_naissance}, ${data.hidden_nir}</li>
			<li>Régime liquidateur = '${data.hidden_liquidateur}'
			<li>états (hidden_userStatus) = '${data.hidden_userStatus}' 
			<li>liquidateurStep='${data.hidden_liquidateurStep}'
			<li>liquidateurReponseJsonStr='${data.hidden_liquidateurReponseJsonStr}'
			<li>liquidateurReponsesHistory='${data.hidden_liquidateurReponsesHistory}'
			<li>regimesInfosJsonStr='${data.hidden_regimesInfosJsonStr}'
			</ul>
		</div>
	#{/if}
</form>

<form id="form-go-prev" action='@{Application.process}${ actionQueryParams }' method='POST'>
	#{stepsHiddenInputs data:postData /}
</form>