#{if _list}
	<div class="contenu col-sm-12">
		<div class="question mes-infos">
			<h2>${_title} :</h2>
			<div class="bg-box">
			
				#{if !_isPDF}
					#{list items:_list, as:'pair'}
						<div class="row">
							<div class="col-sm-6 mes-infos-label">
								${pair.key} :
							</div>
							<div class="col-sm-6 mes-infos-data">
								${pair.value}
							</div>
						</div>
					#{/list}
				#{/if}
				#{else}
					<table width="100%">
						#{list items:_list, as:'pair'}
							<tr>
								<td class="mes-infos-label" width="50%">${pair.key} :</td>
								<td class="mes-infos-data" width="50%">${pair.value}</td>
							</tr>
						#{/list}
					</table>
				#{/else}
	
			</div>
		</div>
	</div>
#{/if}