#{list items:_questionLiquidateur.choices ? _questionLiquidateur.choices : _questionLiquidateur.liquidateurQuestionDescriptor.questionChoices, as:'choice'}
	<div class='choice'>
		#{if _questionLiquidateur.liquidateurQuestionDescriptor.questionType.toString() == "SIMPLE"}
           	#{if _look.toString() == 'RSI'}
	   			<input type="radio" class='questions-choice' id="q${choice_index}" name="reponses[${_questionLiquidateur.liquidateurQuestionDescriptor}]" value="${choice.value}" />
	   			<label class='label-for-question-choice' for="q${choice_index}">${choice.text}</label>
           	#{/if}
           	#{else}
	   			<label class='label-for-question-choice' for="q${choice_index}"><input type="radio" class='questions-choice' id="q${choice_index}" name="reponses[${_questionLiquidateur.liquidateurQuestionDescriptor}]" value="${choice.value}" />${choice.text}</label>
           	#{/else}
		#{/if}
		#{else}
           	#{if _look.toString() == 'RSI'}
           		<label class='label-for-question-choice'>${choice.text}</label>
           		<input type="radio" class='questions-choice' id="q${choice_index}Oui" name="q${choice_index}" value="${choice.value}" />
	   			<label class='label-for-question-choice col-xs-offset-1' for="q${choice_index}Oui">Oui</label>
	   			<input type="radio" class='questions-choice' id="q${choice_index}Non" name="q${choice_index}" value=""/>
	   			<label class='label-for-question-choice col-xs-offset-1' for="q${choice_index}Non">Non</label>
           	#{/if}
           	#{else}
         		<label class='label-for-question-choice'>${choice.text}</label> 
	   			<label class='label-for-question-choice col-xs-offset-1' for="q${choice_index}Oui">
	   				<input type="radio" class='questions-choice' id="q${choice_index}Oui" name="q${choice_index}" value="${choice.value}" />
	   				Oui
	   			</label>
	   			<label class='label-for-question-choice col-xs-offset-1' for="q${choice_index}Non">
	   				<input type="radio" class='questions-choice' id="q${choice_index}Non" name="q${choice_index}" value=""/>
	   				Non
	   			</label>
           	#{/else}
		#{/else}
	</div>
#{/list}