<h3>${_caisse?.nom}</h3>

<div class="row text-left">
	<div class="col-xs-12">
		
		*{ Site internet }*
		
		#{if _caisse?.site}
			<div class="siteinternet">
				<span class="nuage"></span>
				<a href='${_caisse?.site}' target='_blank' title="Nouvelle fenêtre">${_caisse?.site}</a>
				<br/>
			</div>
		#{/if}
		
		#{displayLabelAndLink label:_caisse?.linkLabel1, url:_caisse?.linkUrl1 /}
		#{displayLabelAndLink label:_caisse?.linkLabel2, url:_caisse?.linkUrl2 /}
		#{displayLabelAndLink label:_caisse?.linkLabel3, url:_caisse?.linkUrl3 /}
		
		*{ Téléphone }*
		
		#{if _caisse?.telephone}
			<div class="numerotelephone">
				<span class="telephone"></span>
				${_caisse?.telephone}<br/>
			</div>
		#{/if}

		*{ Adresse postale }*
		
		#{if _caisse?.adresse1}
			<div class="adresse">
				<span class="enveloppe"></span>
				${_caisse?.adresse1}<br/>
				#{if _caisse?.adresse2}
					${_caisse?.adresse2}<br/>
				#{/if}
				#{if _caisse?.adresse3}
					${_caisse?.adresse3}<br/>
				#{/if}
				#{if _caisse?.adresse4}
					${_caisse?.adresse4}<br/>
				#{/if}
			</div>
		#{/if}
	</div>
</div>

