#{if _data.questionsLiquidateur}
	<div class="contenu col-sm-12 printable">
		<div class="question mes-infos">
			<h2>Mes réponses aux questions :</h2>
			<div class="bg-box">
			
				#{list items:_data.questionsLiquidateur, as:'questionLiquidateur'}
					<div class="row">
					
						#{if questionLiquidateur.liquidateurQuestionDescriptor.titleChecklist}
							#{if _look.toString() == 'RSI'}
								<div class="col-sm-10">
							#{/if}
							#{else}
								<div class="col-sm-offset-1">
							#{/else}						
							<div class="mes-infos-data mes-infos-label">
								${questionLiquidateur.liquidateurQuestionDescriptor.titleChecklist?.raw()}
						#{/if}
						#{else}
							#{if _look.toString() == 'RSI'}
								<div class="col-sm-10 mes-infos-data">
							#{/if}
							#{else}
								<div class="col-sm-offset-1 mes-infos-data">
							#{/else}						
						#{/else}						
							#{list items:questionLiquidateur.choices ? questionLiquidateur.choices : questionLiquidateur.liquidateurQuestionDescriptor.questionChoices, as:'choice'}
								#{if choice.checked}
									<div class='choice'>
										#{if questionLiquidateur.liquidateurQuestionDescriptor.questionType.toString() == "SIMPLE"}
									   			${choice.textChecklist?choice.textChecklist:choice.text}
										#{/if}
										#{else}
								           	${choice.textChecklist?choice.textChecklist:choice.text}
										#{/else}
									</div>
								#{/if}
							#{/list}
							#{if questionLiquidateur.liquidateurQuestionDescriptor.titleChecklist}
								</div>
							#{/if}
						
						</div>
					</div>
				#{/list}
	
			</div>
		</div>
	</div>
#{/if}