#{if _data.questionsLiquidateur}
	<div class="contenu col-sm-12 printable">
		<div class="question mes-infos">
			<h2>Mes réponses aux questions :</h2>
			<div class="bg-box">
			
				#{list items:_data.questionsLiquidateur, as:'question'}
					<div class="row">
						<div class="col-sm-6 mes-infos-label">
							${question.liquidateurQuestionDescriptor.title} :
						</div>
						<div class="col-sm-6 mes-infos-data">
							#{list items:question.choices ? question.choices : question.liquidateurQuestionDescriptor.questionChoices, as:'choice'}
								<div class='choice'>
									#{if question.liquidateurQuestionDescriptor.questionType.toString() == "SIMPLE"}
						            	#{if look.toString() == 'RSI'}
								   			<input type="radio" class='questions-choice' id="q${choice_index}" name="reponses[${question.liquidateurQuestionDescriptor}]" value="${choice.value}" disabled />
								   			<label class='label-for-question-choice' for="q${choice_index}">${choice.text}</label>
						            	#{/if}
						            	#{else}
								   			<label class='label-for-question-choice' for="q${choice_index}"><input type="radio" class='questions-choice' id="q${choice_index}" name="reponses[${question.liquidateurQuestionDescriptor}]" value="${choice.value}" disabled ${choice.checked?'checked':''}/>${choice.text}</label>
						            	#{/else}
									#{/if}
									#{else}
						            	#{if look.toString() == 'RSI'}
								   			<input type="checkbox" class='questions-choice' id="q${choice_index}" value="${choice.value}" disabled/>
								   			<label class='label-for-question-choice' for="q${choice_index}">${choice.text}</label>
						            	#{/if}
						            	#{else}
								   			<label class='label-for-question-choice' for="q${choice_index}"><input type="checkbox" class='questions-choice' id="q${choice_index}" value="${choice.value}" disabled/>${choice.text}</label>
						            	#{/else}
									#{/else}
								</div>
							#{/list}
						</div>
					</div>
				#{/list}
	
			</div>
		</div>
	</div>
#{/if}