#{if _data.userChecklist}

	#{if !_data.isPDF}
		<div class="titre-intro-checklist col-sm-12 text-center">
				Pour partir à la retraite le #{dateDepart data:_data /},
				<br/>
				récupérez la liste de vos démarches.
		</div>
	#{/if}

	<div class="col-sm-12 ">
		<div class="col-sm-1"></div>
		<div class="col-sm-11">
			<p class="bouton">
				<button class="btn record">Imprimer</button>
				<button class="btn mail">M'envoyer par courriel</button>
			</p>
		</div>
	</div>
	
	
	#{displayUserInfos data:_data /}
	
#{/if}
