#{list items:_questions, as:'question'}
	<div class="contenu question ${question_isFirst ? 'marg-top' : ''} col-sm-12 printable"
		#{if question.condition}
			condition-key='${question.condition.key}'
			condition-value='${question.condition.value}'
		#{/if}
		#{if !question_isFirst}
			style='display: none;'
		#{/if}
	>
		<div class="col-sm-1"></div>
		<div class='col-sm-10'>
		   	<h2 class="titre">${question.type.title}</h2>
			#{if question.type.questionType.toString() != "SIMPLE"}
	   			<div class='question-infos'>
	   				<h4>Plusieurs choix possibles</h4>
	   			</div>
			#{/if}
			#{list items:question.type.questionChoices, as:'choice'}
				<div class='choice'>
					#{if question.type.questionType.toString() == "SIMPLE"}
			   			<label class='label-for-question-choice'><input type="radio" class='questions-choice' condition-key="${question.type}" name="reponses[${question.type}]" value="${choice.value}" />${choice.text}</label>
					#{/if}
					#{else}
			   			<label class='label-for-question-choice'><input type="checkbox" class='questions-choice' condition-key="${question.type}" value="${choice.value}" />${choice.text}</label>
					#{/else}
				</div>
			#{/list}
		</div>
		<div class="col-sm-1"></div>
	</div>
#{/list}
