<div class="contenu col-sm-12 printable">
	<div class="question">
		<h2>Mes interlocuteurs :</h2>
		<div class="bg-box">
			<table class="table table-bordered table-interlocuteur">
				<tbody>
					<tr>
						<td width="50%" 
							#{if _data.userChecklist.regimesComplementaires}
								class="border-right"
							#{/if}
						>
							<h4>Retraite de base :</h4>
							#{displayCaisse caisse:_data.userChecklist.caisse /}
						</td>
						#{if _data.userChecklist.autresRegimesDeBase || _data.userChecklist.regimesComplementaires}
							<td width="50%">
								#{if _data.userChecklist.autresRegimesDeBase}
									<h4>Autre retraite :</h4>
						        	<ul>
						        		#{list items:_data.userChecklist.autresRegimesDeBase, as:'regime'}
						        			<li>
       											#{displayRegimeAutre regime:regime /}
						        			</li>
						        		#{/list}
						        	</ul>
								#{/if}
								#{if _data.userChecklist.regimesComplementaires}
									<h4>Retraite complémentaire :</h4>
						        	<ul class='interlocuteur-autre'>
						        		#{list items:_data.userChecklist.regimesComplementaires, as:'regime'}
						        			<li>
       											#{displayRegimeAutre regime:regime /}
						        			</li>
						        		#{/list}
						        	</ul>
								#{/if}
							</td>
						#{/if}
					</tr>
				</tbody>
			</table>
		</div>
		<!--fin bg box-->
	</div>
</div>
