#{set pageCssClass:'information' /}

<div class="contenu col-sm-12">
	<div class="question">
		<h2>Mes informations :</h2>
		<div class="bg-box">

			#{if !_data.isPDF}
				<ul class="sanspuce col-sm-5 text-right">
					#{list items:_data.userInfos?.keySet(), as:'key'}
						<li>${key} :</li>
					#{/list}
				</ul>
				<ul class="sanspuce col-right col-sm-5">
					#{list items:_data.userInfos?.keySet(), as:'key'}
						<li>${_data.userInfos.get(key)}</li>
					#{/list}
				</ul>
			#{/if}
			#{else}
				<table class="pdf-interlocuteurs">
					#{list items:_data.userInfos?.keySet(), as:'key'}
						<tr>
							<td>${key} :&nbsp;</td>
							<td class="pdf-interlocuteurs-data">${_data.userInfos.get(key)}</td>
						</tr>
					#{/list}
				</table>
			#{/else}
		</div>
		<!--fin bg-box-->
	</div>
</div>
