#{if _data.userChecklist}

	<div class="contenu col-sm-12">

		<h2 class='intro-checklist'>
			${_data.hidden_nir?.startsWith('1') ? 'M.' : 'Mme'} ${_data.hidden_nom}, 
			voici la liste de vos démarches  
			<br/>
			pour votre départ à la retraite prévu le #{dateDepart data:_data /}
		</h2>
	
		#{if !_data.isPDF}
			<div class="col-sm-12 row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					<p class="bouton">
						<button class="btn record" ${_noPdfDownload ? "disabled='disabled'" : ""}>Télécharger en PDF</button>
					</p>
				</div>
			</div>
		#{/if}

		#{list items:_data.userChecklist.chapitres, as:'chapitre'}
			<div class="contenu-titre">
				#{if !_data.isPDF}
					<div class="chiffre">${chapitre_index}</div>
					<div class="boxtitre">
						<div class="puce"></div>
						#{if chapitre.delai}
							<div class="soustitre">
								${chapitre.delai.raw()}
							</div>
						#{/if}
						<div class="titre">
							<h2>
								${chapitre.titre}
							</h2>
						</div>
						<!--titre-->
					</div>
					<!--boxtitre-->
				#{/if}
				#{else}
					<table class="boxtitre-pdf" width="100%">
						<tr>
							<td class="chiffre-pdf">${chapitre_index}</td>
							<td class="soustitre-pdf" width="25%">${chapitre.delai.raw()}</td>
							<td class="titre-pdf"><h2>${chapitre.titre}</h2></td>
						</tr>
					</table>
				#{/else}
			</div>
			<!--contenu-titre-->

			<div class="contenu-texte">
				<div class="border-left">
					<div class="box1">
						#{if !_data.isPDF}
							<div class="big-chiffre">${chapitre_index}</div>
						#{/if}
						<div class="texte1niv">
							#{if chapitre.texteActions?.length() > 0}
								<div class="texte">
									${chapitre.texteActions?.raw()}
								</div>
							#{/if}

							#{if chapitre.texteActions?.length() > 0 && chapitre.texteModalites?.length() > 0}
								<div class="separation">&nbsp;</div>
							#{/if}

							#{if chapitre.texteModalites?.length() > 0}
								<div class="texte">
									${chapitre.texteModalites?.raw()}
								</div>
							#{/if}

						</div>
						<!--fin texte1niv-->
					</div>
					<!--fin box1-->
					#{if chapitre.texteInfos?.length() > 0}
						<div class="box2">
							<div class="texte2niv">
								<div class="texte">
									<div class="lettrine">&nbsp;</div>
									${chapitre.texteInfos?.raw()}
								</div>
							</div>
							<!--fin texte2niv-->
	
						</div>
						<!--fin box2-->
					#{/if}


					<div class="links-urls">
						#{list items:chapitre.urls, as:'url'}
							<sup>${url_index}</sup> ${url}<br/>
						#{/list}
					</div>
				</div>
				<!--fin borderleft-->
			</div>
			<!--contenu-texte-->

		#{/list}

		#{if !_data.isPDF}
			<div class="col-sm-12 row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					<p class="bouton">
						<button class="btn record" ${_noPdfDownload ? "disabled='disabled'" : ""}>Télécharger en PDF</button>
					</p>
				</div>
			</div>
		#{/if}

	</div>
	
	#{displayUserInfos data:_data /}
	
	#{displayQuestionsAndResponses data:_data /}
	
	#{displayInterlocuteurs data:_data /}
	
#{/if}
