<h3>${_caisse?.nom}</h3>

<div class="row text-left">
	<div class="col-xs-12">
		
		*{ Site internet }*
		
		#{if _caisse?.site}
			<div class="siteinternet">
				<span class="nuage"></span>
				<a href='${_caisse?.site}' target='_blank' title="Nouvelle fenêtre">${_caisse?.site}</a>
				<br/>
			</div>
		#{/if}
		
		#{if _caisse?.linkLabel && _caisse?.linkUrl}
			<div class="siteinternet">
				<span class="nuage"></span>
				<a href='${_caisse?.linkUrl}' target='_blank' title="Nouvelle fenêtre">${_caisse?.linkLabel}</a>
				<br/>
			</div>
		#{/if}
		
		*{ Téléphone }*
		
		#{if _caisse?.telephone}
			<div class="numerotelephone">
				<span class="telephone"></span>
				${_caisse?.telephone}<br/>
			</div>
		#{/if}

		*{ Adresse postale }*
		
		<div class="adresse">
			<span class="enveloppe"></span>
			${_caisse?.adresse1}<br/>
			#{if _caisse?.adresse2}
				${_caisse?.adresse2}<br/>
			#{/if}
			#{if _caisse?.adresse3}
				${_caisse?.adresse3}<br/>
			#{/if}
			#{if _caisse?.adresse4}
				${_caisse?.adresse4}<br/>
			#{/if}
		</div>
	</div>
</div>

