#{extends 'main.html' /}
#{set title:'Listes des écrans de sortie' /}

#{set 'moreStyles'}
	#{stylesheet 'validations-sorties.css' /}
#{/set}

<div class='visu-ecrans-sortie'>
	
	<form>
		<h1>
			Ecrans de sortie pour 
			<select name="regime" onchange='this.form.submit();' value="${regime?.raw()}">
			
				<option value="CNAV" ${regime?.toString()=='CNAV'?'selected':''}>CNAV</option>
				<option value="MSA" ${regime?.toString()=='MSA'?'selected':''}>MSA</option>
				<option value="RSI" ${regime?.toString()=='RSI'?'selected':''}>RSI</option>
			</select>
		</h1>
	
	</form>
	
	${content.raw()}
	
</div>