h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.chapitre {
    margin-left: 30px;
}

.conditions {
	color: green;
}

.delai {
    color: darkmagenta;
}

.conditions, .notes {
	font-style: italic;
}

.texteActions, .texteModalites, .texteInfos {
    background-repeat: no-repeat;
    padding-left: 75px;
    min-height: 67px;
}
	
.texteActions {
    font-weight: bold;
    background-image: url("/public/img/actions.png");
}

.texteModalites {
    background-image: url("/public/img/docs.png");
}

.texteInfos {
	background-color: #e7e7e7;
    border-radius: 20px;
    font-style: italic;
    background-image: url("/public/img/infos.png");
}

.notes {
	color: gray;
}

.text-center {
	text-align: center;
}

a.btn {
	color: white;
}