html {
	height: 0;
	background: white;
}

body,
body .container.information .wrapper,
body .container.information .contenu .bg-box .panel-body,
body .container.information .contenu .bg-box,
body .container.information .contenu table.table.table-bordered.table-interlocuteur,
body .container.information .contenu .question h2 {
	background: none;
}

body .container .contenu,
body .container.information .contenu .bg-box .panel {
	box-shadow: none;
}

body .container .contenu,
body .container .question {
	margin: 0;
	padding: 0;
}

table.pdf-interlocuteurs {
}

table.pdf-interlocuteurs td {
    border: none;
}

table.pdf-interlocuteurs td.pdf-interlocuteurs-data {
	font-weight: 600;
}

td {
    border: none;
}

.col-sm-6 {
    width: 50%;
    float: left;
}

body .container .wrapper {
    background: none  !important;
}

.container.checklist .contenu .contenu-titre .boxtitre-pdf {
    background-color: #0b6ba8;
    border-radius: 36px;
    padding: 8px 30px 8px 6px;
}

.container.checklist .contenu .contenu-titre .chiffre-pdf {
    font-size: 3.4em;
    font-weight: bold;
    color: #fff;
}

.container.checklist .contenu .contenu-titre .soustitre-pdf {
    font-size: 1.9rem;
    font-weight: 300;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 8px;
    margin-right: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    vertical-align: middle;
}

.container.checklist .contenu .contenu-titre .titre-pdf {
    vertical-align: top;
}

.container.checklist .contenu .contenu-titre .titre-pdf h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    padding-left: 0;
}