/* Styles ajoutés */
.font-normal {
	font-size: 1.8rem;
}

.titre-intro-checklist {
	margin: 42px auto 10px;
	color: #0b6ba8;
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 3.2rem;
}

label.label-carriere-longue {
	display: inline-block;
	font-weight: bold;
	margin-top: 20px;
}

/* Styles surchargés */
body .container .contenu {
	/*margin: 0;*/
	
}

.chemin-pendule {
	color: #0b6ba8;
	font-size: 1.2em;
	width: 40px;
	height: 80px;
	padding-left: 0;
}

.chemin-pendule-trait {
	background: url("../img/sprites/chemin-pendule.png") repeat-y 9px;
}

.chemin-pendule span {
	background-color: #f5f5f5;
}

body .container.information .delai {
	text-align: left;
	padding-bottom: 0px;
}

/*body .container.information .contenu .bg-box h3 {
	margin: 0;
}*/

body .container.information .bouton .btn {
	margin-left: 240px;
}

.img_bg div {
	display: table;
}

footer.footer-feedback {
	color: #0b6ba8;
	font-size: 1.8em;
}

footer a.footer-feedback {
	color: #0b6ba8;
	font-size: 1.4em;
	font-weight: bold;
	font-family: "Open sans", "Arial", "Helvetica", sans-serif;
}

/* bandeau-cookie */

.bandeau-cookie {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 2.5em;
	padding: 2px;
	vertical-align: middle;
	font-size: 1.6rem;
}

.bandeau-cookie input[type=button] {
	color: white;
	background-color: #2272BA;
	border-radius: 5px;
	border: 0;
	padding: 0 20px;
	margin-left: 10px;
}

.bandeau-cookie input[type=button] {
	color: white;
	background-color: #2272BA;
	border-radius: 5px;
	border: 0;
	padding: 0 20px;
	margin-left: 10px;
}

.bandeau-cookie a {
	color: white;
	text-decoration: underline;
}

.bandeau-cookie input[type=button]:hover {
	background-color: rgba(34, 114, 186, .5);
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}


.checklist-actions, .checklist-modalites, .checklist-infos {
    background-repeat: no-repeat;
    padding-left: 75px;
    min-height: 67px;
}
	
.checklist-actions {
	border: solid #B1D7F8 1px;
    border-radius: 10px;
    font-weight: bold;
    background-image: url("/public/img/actions.png");
}

.checklist-modalites {
    background-image: url("/public/img/docs.png");
}

.checklist-infos {
	background-color: #e7e7e7;
    border-radius: 20px;
    font-style: italic;
    font-size: 1.4rem;
    background-image: url("/public/img/infos.png");
}