<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <form name="loginForm" >
            <div class="form-group">
              <label for="user" class="control-label">Identifiant</label>
              <input type="text" name="user" ng-model="user.name" class="form-control" required/>
            </div>
            <div class="form-group">
              <label for="pass" class="control-label">Mot de passe</label>
              <input type="password" name="pass" ng-model="user.pass" class="form-control" required/>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
