/* =============================================================================
   Home
============================================================================= */
header.entete {
  background: #fff url("../../img/sprites/background.png") left bottom;
	background-repeat: repeat-x;
	height:92px;
	position:relative;
	margin :0 auto;


	.logo {
		padding: 2px 0 0;
		position: absolute;
		display: inline;
	}

	.header-inner {
		max-width: 900px;
		margin: 0 auto;
	}

	.home.header-inner {
		max-width: 754px;
		margin: 0 auto;
	}


	.title {
		background-position: center top;
	  background-repeat: no-repeat;
		background-image: url("../../img/sprites/img_header.png");
		text-align: center;
		height:148px;
		cursor:default;

		h1 {
			color: #fff;
			font-size: 3.2rem;
			margin:0 0 7px 0;
			padding: 3px 0 8px 0 ;
			text-transform: uppercase;
			font-family: $font;
			background-position: center bottom;
	  	background-repeat: no-repeat;
			background-image: url("../../img/sprites/filet_white.png");
			font-family: $font-stack-alt;
			font-weight: bold;
		}

		h2 {
			margin: 0;
			padding: 0;
			color: #fff;
			font-size: 2.0rem;
			font-family: $font-stack-alt;
			font-weight: 300;
		}
	}
	.title a:link,
	.title a:visited {
	text-decoration:none;
	}
}

@media screen and (max-width: 530px) {
	header.entete {
		background: none;
	}
}

body .container {
	margin:0 auto;
	padding-left:0;
	padding-right:0;
	cursor:default;

	.wrapper {
		padding-bottom: 50px;
	}

	.contenu-image {
		background: url("../../img/sprites/background_fleche.png") right bottom;
		background-repeat: no-repeat;
		overflow:hidden;
		padding-top: 30px;
	}
	
	.padding-top {
		padding-top: 42px;
	}

	.contenu {
		background-color: #fff;
		margin: 0px auto 10px;
		box-shadow:0 0 10px 5px #c8c8c8;
		padding-left:0;
		padding-right:0;
		padding-bottom:20px;
		border: 1px solid #e7e7e7;

		.box {
			background: #f6f6f6 url("../../img/sprites/border_box.png") left bottom;
			background-repeat: repeat-x;
			height: 148px;
			text-align: center;
			margin-bottom: 40px;

			h2 {
				font-size: 2.8rem;
				font-family: $font-stack;
				color: $grey-2;
				font-weight: 300;
				padding-top: 17px;
				margin: 0;
			}

			h3 {
				font-family: $font-stack;
				font-size: 2.0rem;
				color: $grey-1;
				font-weight: 300;
				padding-top: 10px;
				margin: 0;
			}
		}

		.form-group{
			margin: 0 0 15px 0;
			overflow: hidden;
			height: 40px;

			label {
				cursor:default;
			}

			.control-label {
				display: block;
				font-size: 1.8rem;
				color: $blue;
				float: left;
				font-weight: bold;
				padding-top: 5px;
			}

			.my-date,
			.xxx-select {
				width:100%;
			}

			input[type="text"],
			select{
				border: 1px solid $grey-3;
				border-radius: 5px;
				padding: 8px 16px;
				font-size: 1.8rem;
				color:$grey-1;
				font-style: normal;
				overflow: hidden;
				height: 40px;
			}

			.select-wrapper{
			  display: block;
			  overflow-x: hidden;
			  //cursor: pointer;

			   &:after {
			    content:"";
			    background: url("../../img/sprites/select_suivant.png") no-repeat top right;
			    display:inline;
			    position:absolute;
			    float:right;
			    width: 47px;
			    text-align:center;
			    top: 0;
			    height: 42px;
			    overflow: hidden;
			    right: 15px;
			  }
			}

				input.my-date{
				display: inline;
				overflow:hidden;
				clear:both;
			}

			.add-on{
			  //display:block;
			  overflow:hidden;
			  cursor:pointer;

			   &:after {
			    content:"";
			    background: url("../../img/sprites/calendar.png") no-repeat top right;
			    display: inline;
			    position:absolute;
			    float:right;
			    width: 47px;
			    top: 9px;
			    height: 31px;
			    right:29px;
			  }
			}

			.input-group-addon {
				background-color:#fff;
				width: 81px;
				border: 1px solid $grey-3;
				border-radius: 5px;
			}

			select{
				display: block;
				padding-bottom: 6px;
			}
		}

		.form-group.row.etape {
			height: 100%;
			width: 100%;
			margin-left:0;
		}

		.text-right {
			text-align:right;
		}
	}
	
	.printable .btn {
		display: none;
	}
}

.error {
    color: $error;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

body .container input.btn-next[disabled]{
background-color: #a7a7a7!important;
opacity: .65;
}



footer {
	padding-left:0;
	padding-right:0;
	background-color:#fff;
	margin-top:0;
	color: $grey-8;
	font-family: $font-stack-alt;
	font-weight: 300;

	.wrapper-inner {
		overflow:hidden;
		margin: 16px 0 5px;
	}

	.footer-right {
		float:right;
		text-align: right;

		li {
			padding-left: 40px;
		}
	}

	.footer-nav {
			margin-top:23px;
	}

	ul{
		padding-left:0;

		li {
			display: inline;
			font-size: 1.6rem;
			color: $grey-8;
			list-style: none;
		}
	}

	a:link,
	a:visited {
		color: $grey-8;
	}

	a:focus img,
	a:hover img {
    outline-style: none;
  }
}

body .container.padding-bottom{
	padding-bottom:20px;
}




/*@media (min-width: @screen-sm-min) {     768px*/
@media screen and (max-width: 991px) {

	.container .contenu .form-group .control-label {
		padding-left:0px;
		font-size:1.2rem;
		line-height: 1.8rem;
	}

	footer .wrapper-inner {
		padding-top: 10px;
	}

	footer ul {
		padding-left: 0;
	}

	.footer-right ul li {
		padding-left: 6px;
	}

	footer .footer-nav {
		margin-top:23px;
	}

	body .container .contenu .form-group {
		height: 70px;
	}

	.date {
		overflow:hidden;
		height: 40px;
	}
}


/*@media (min-width: @screen-sm-min) {  */
@media screen and (max-width: 691px) {
	.text-right {
		margin-right: 15px;
	}

	footer {
		margin-left: -15px;
		margin-right: -15px;
	}

	footer .footer-nav {
		width: 30%;
	}
}
