<div class='edit-caisse'>
    
    <div>
        <label>Nom : </label>
        <input type='text' ng-model='caisse.nom' class='form-control'>
    </div>

    <div>
        <label>Adresse : </label>
        <input type='text' ng-model='caisse.adresse1' class='form-control'>
        <input type='text' ng-model='caisse.adresse2' class='form-control'>
        <input type='text' ng-model='caisse.adresse3' class='form-control'>
        <input type='text' ng-model='caisse.adresse4' class='form-control'>
    </div>

    <div>
        <label>Téléphone : </label>
        <input type='text' ng-model='caisse.telephone' class='form-control'>
    </div>

    <div>
        <label>Fax : </label>
        <input type='text' ng-model='caisse.fax' class='form-control'>
    </div>

    <div>
        <label>Site : </label>
        <input type='text' ng-model='caisse.site' class='form-control'>
    </div>

    <div>
        <label>Lien (Libellé et URL) : </label>
        <input placeholder='Libellé' type='text' ng-model='caisse.linkLabel' class='form-control'>
        <input placeholder='URL' type='text' ng-model='caisse.linkUrl' class='form-control'>
    </div>

    <div>
        <button class='btn btn-primary' ng-click='save()'>Enregistrer</button>
    </div>

</div>
