.test-form .form-control {
    width: auto;
}

.test-form input[type=text].form-control {
    width: 140px;
}

.test-options {
    display: inline-table;
}

.test-options li {
    margin: 0 0 10px 0;
}

.test-options li input {
    margin: 0 0 0 20px;
}

#iframe-test-result {
    width: 1210px;
    margin-left: -170px;
}