#{extends 'sortie.html' /}

<br/>

Vous ne savez pas encore à quelle date vous voulez partir ? 

<br/><br/>

Vous pouvez consulter toutes les conditions de départ <a href='#'>ici</a>. 

<br/><br/>

Vous pouvez également consulter votre relevé de carrière qui mentionne l’estimation 
du montant de votre retraite en fonction de l’année de départ. 

<br/><br/>

Pour une simulation plus poussée, veuillez vous connecter sur le service <a href='#'>EVA</a>. 

<br/><br/>

Une fois définie votre date de départ, revenez sur cette page afin d’obtenir la liste 
personnalisée de vos démarches !
			
