#{extends 'step.html' /}

<div class="col-sm-12 padding-top">
	<div class="contenu question col-sm-12 printable">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

			<h2 class="titre">Où habitez-vous ?</h2>
	
			<div  class="form-group row">
			
		        <label for="dep" class="col-sm-5 control-label">Département de résidence :</label>
		        
				<div  class="col-sm-5">
		            <select name="postData.departement" class="form-control xxx-select">
			        	#{list items:data.departements, as:'departement'}
			            	<option value='${departement.numero}'>${departement.numero} - ${departement.nom}</option>
			            #{/list}
		            </select>
	            </div>
			
			</div><!--fin contenu -image-->
		
		</div><!--fin contenu-->
		<div class="col-sm-1"></div>
	</div>
</div>

#{buttonsPrevNext /}