#{extends 'step.html' /}

#{set pageCssClass:'checklist' /}
#{set pageChecklist:true /}

#{set 'moreScripts'}
    #{script 'displayCheckList.js'/}
#{/set}

#{if data.errorMessage}
	<p>${data.errorMessage}</p>
#{/if}


#{displayCheckList data:data,noPdfDownload:noPdfDownload, look:look /}

#{buttonsPrevNext notNext:true /}

<div class='hiddeninfos  col-sm-12'>
	<br/>
	<br/>
	<br/>
	Régimes détectés : ${data.hidden_regimes}
	<br/>
	Attestation carrière longue : ${data.hidden_attestationCarriereLongue}
	<br/>
	Liste sélectionnée : ${data.userChecklist.nom}
	<br/>
	Réponses aux questions pour déterminer le liquidateur : ${data.hidden_liquidateurReponseJsonStr}
	<br/>
	<br/>
</div>
<!--fin hiddeninfos-->
