#{extends 'sortie.html' /}

<div class='sortie'>

	<p>Selon nos informations, <b>vous n’avez pas cotisé auprès d'un organisme de retraite en tant que</b> :</p>
	<ul>
		<li>salarié;</li>
		<li>contractuel de la fonction publique;</li>
		<li>travailleur indépen­dant;</li>
		<li>professionnel agricole.</li> 
	</ul> 
	
	<p>Pour demander votre retraite, nous vous invitons à prendre contact avec le/les organismes auxquels vous avez cotisé :</p>

	<ul>
		#{list items:data.regimesInfosAucunRegimeDeBaseAligne, as:'regimeInfos'}
			<li>
				${regimeInfos.regime}<br>
				${regimeInfos.nom}<br>
				#{if regimeInfos.adresse}
					${regimeInfos.adresse}<br>
				#{/if}
				#{if regimeInfos.tel1}
					${regimeInfos.tel1}<br>
				#{/if}
				#{if regimeInfos.email1}
					${regimeInfos.email1}<br>
				#{/if}
				#{if regimeInfos.internet}
					${regimeInfos.internet}<br>
				#{/if}
			</li>
		#{/list}
	</ul>

</div>
