#{extends 'sortie.html' /}

<div class='sortie printable'>

	<p>Vous avez moins de 55 ans : il est encore trop tôt pour demander votre retraite. Mais sans attendre, retrouvez nos conseils pour préparer votre future retraite.</p>
	
	<h1>Quels droits avez-vous acquis ?</h1>
	
	<p><b>Vérifiez</b> dès à présent que <b>#{link url:data.extras.urlDroits,text:"les données de l’ensemble de votre carrière" /}</b> sont complètes.</p> 

	<p>Le relevé de carrière :</p>
	<ul>
		<li>vous permet de suivre l'évolution de votre situation au fil des années travaillées</li>
		<li>regroupe l’ensemble des activités de votre carrière</li>
		<li>est consultable en ligne et téléchargeable</li>
	</ul>
	
	<h1>En savoir plus</h1>
	
	<p><b>#{link url:data.extras.urlInfosDepartRetraite,text:"Découvrez tous nos services personnalisés" /}</b> pour préparer votre retraite.</p> 

</div>
