#{extends 'sortie.html' /}

<div class='sortie'>

	<p>Vous ne connaissez pas encore la date de votre départ en retraite ?</p>
	
	<h1>A quel âge partir en retraite ?</h1>
	
	<p><a href="${data.extras.urlAgeDepart}" target="_blank" title="Nouvelle fenêtre">${data.extras.urlAgeDepart}</a></p>
	 
	<h1>Quels droits avez-vous acquis ?</h1>
	
	<p><b>Vérifiez dès à présent</b> que les données de l’ensemble de votre carrière sont exactes et complètes.</p>
	
	<p><a href="${data.extras.urlDroits}" target="_blank" title="Nouvelle fenêtre">${data.extras.urlDroits}</a></p>
	
	<h1>Quel sera le montant de votre retraite ?</h1>
	
	<p>Simulation complète sur le service <a href="${data.extras.urlSimulMontant}" target="_blank" title="Nouvelle fenêtre">EVA</a></p>
	
	<p>Une fois définie votre date de départ, revenez sur rsi.fr/mon-pass-retraite  pour préparer vos démarches retraite !</p>
			
</div>
