#{extends 'step.html' /}

#{set 'moreScripts'}
    #{script 'displayLiquidateurQuestions.js'/}
    #{script 'questions.js'/}
#{/set}

#{displayQuestions questions:data.questionsLiquidateur /}

<input type="hidden" id="reponseJsonStr" name="postData.liquidateurReponseJsonStr" />

<div class="form-group row col-sm-12">
	<div class="col-sm-6">
		<a href="javascript:history.go(-1)" class="btn btn-success btn-precedente marg-bottom">Etape précédente</a>
	</div>
	<div class="col-sm-6 text-right">
		<input class="btn btn-success btn-next" value="Étape suivante" type="submit">
	</div>
</div>

