#{extends 'sortie.html' /}

<div class='sortie'>

	<p>Vous ne connaissez pas encore la date de votre départ en retraite.</p>
	
	<h1>A quel âge partir en retraite ?</h1>
	
	<p>#{link url:data.extras.urlAgeDepart /}</p>
	 
	<h1>Quels droits avez-vous acquis ?</h1>
	
	<p><b>Vérifiez dès à présent</b> que les données de l’ensemble de votre carrière sont exactes et complètes.</p>
	
	<p>#{link url:data.extras.urlDroits /}</p>
	
	<h1>Quel sera le montant de votre retraite ?</h1>
	
	<p>Simulation complète sur le service #{link url:data.extras.urlSimulMontant,text:"EVA" /}</p>
	
	<p>Une fois définie votre date de départ, revenez sur cette application pour préparer vos démarches retraite !</p>
			
</div>
