#{extends 'step.html' /}

#{set 'moreScripts'}
    #{script 'displayQuestionCarriereLongue.js'/}
#{/set}

<div class="contenu question marg-top col-sm-12">
	<div class="col-sm-1"></div>
	<div class="label-for-question-choice col-sm-10">
	
		<div class='sortie'>
		
			<p>Vous avez renseigné une date de départ à la retraite inférieur à #{link url:data.extras.urlAgeDepart,text:"l'âge légal" /}.</p>
			
			<p>Vous souhaitez partir au <b>#{dateDepart data:data /}</b>, donc à l'âge de <b>${data.extras.age.annees} ans
			#{if data.extras.age.mois} 
				et ${data.extras.age.mois} mois
			#{/if}
			</b>, or pour votre génération, l'age légal de départ est de <b>${data.extras.ageLegalPourPartir.annees} ans 
			#{if data.extras.ageLegalPourPartir.mois} 
				et ${data.extras.ageLegalPourPartir.mois} mois
			#{/if}
			</b>, soit pour vous à la date du <b>${data.extras.dateDepartPossible}</b>.</p>
	
			<h1>Départ anticipé</h1>
			
			<ul>
				<li>Vous avez obtenu une attestation de situation de carrière longue, cochez la case ci-dessous et passez à l’ "Etape suivante" :</li>
			</ul>
		
		    <span class='col-sm-12 text-center choice'>	
		        <label class='label-for-question-choice label-carriere-longue'><input type="checkbox" class='questions-choice' name='CARRIERE_LONGUE'/>J'ai mon attestation carrières longues</label>
			</span>
			
			<br/><br/><br/>
			
			<ul>
				<li>Sinon, vérifiez que vous remplissez les conditions permettant de bénéficier d’un des #{link url:data.extras.urlDispositifDepartAvantAgeLegal,text:"dispositifs de départ avant l’âge légal" /} puis contactez un conseiller</li>
			</ul>
		
		</div>
		
	</div><!--fin contenu-->
	<div class="col-sm-1"></div>
</div>

<div class="form-group row col-sm-12">
	<div class="col-sm-6">
		<a href="javascript:history.go(-1)" class="btn btn-success btn-precedente marg-bottom">Etape précédente</a>
	</div>
	<div class="col-sm-6 text-right">
		<input class="btn btn-success btn-next" value="Étape suivante" type="submit">
	</div>
</div>
