#{extends 'sortie.html' /}

<br/>

Selon nos informations, vous n’avez pas cotisé à un régime de retraite en tant 
que salarié ou contractuel de la fonction publique, indépendant, artisan ou 
profession agricole. 

<br/>
<br/>

Pour obtenir votre retraite, nous vous invitons à prendre contact avec les organismes suivants :
		
<ul>
	#{list items:data.regimesInfos, as:'regimeInfos'}
		<li>
			${regimeInfos.regime}<br>
			${regimeInfos.nom}<br>
			${regimeInfos.adresse}<br>
			${regimeInfos.tel1}<br>
			${regimeInfos.email1}<br>
		</li>
	#{/list}
</ul>
