#{extends 'sortie.html' /}

<div class='sortie'>

	<p>Vous avez moins de 55 ans : il est trop tôt pour commencer vos démarches de retraite.</p>
	
	<h1>Quels droits avez-vous acquis ?</h1>
	
	<p>Sur #{link url:data.extras.urlDroits /}, vous pouvez <b>dès à présent</b> vérifier que les données de votre carrière sont exactes et complètes.</p> 

	<p>Le relevé de carrière :</p>
	<ul>
		<li>vous permet de suivre l'évolution de votre situation au fil des années travaillées</li>
		<li>regroupe l’ensemble des activités de votre carrière</li>
		<li>est consultable en ligne et téléchargeable</li>
	</ul>
	
	<h1>En savoir plus</h1>
	
	<p>#{link url:data.extras.urlInfosDepartRetraite /}</p> 

</div>
