#{set pageCssClass:'home' /}

#{extends 'step.html' /}

#{set 'moreScripts'}
    #{script 'getUserData.js'/}
#{/set}

<div class="col-sm-12 printable padding-top">
	<div class="col-sm-1"></div>
	<div class="contenu col-sm-10">
	
		<div  class="contenu-image">
		
			%{
				widthLabel = 5;
				widthInput = 6;
				widthInputSmall = 4;
			}%
		
			#{if data.errorMessage}
				<div class="col-sm-12">
					<h2 class='error'>${data.errorMessage}</h2>
	            </div><!--fin-->
			#{/if}
			
		    <div class="form-group row col-sm-12">
		        <label for="nom" class="col-sm-${widthLabel} control-label">Nom de naissance :</label>
	            <input id="nom" name="postData.nom" value='${data.hidden_nom}' class="col-sm-${widthInput}" required="" type="text">
		    </div>
		
		    <div class="form-group row col-sm-12">
		        <label for="naissance" class="col-sm-${widthLabel} control-label">Date de naissance :</label>
	            <input id="naissance" name="postData.naissance" value='${data.hidden_naissance}' class="col-sm-${widthInputSmall}" required="" type="text">
		        <label class="col-sm-3 control-label control-label-date">
		        	(jj/mm/aaaa)
		        </label>
		    </div>
		
		    <div class="form-group row col-sm-12">
		        <label for="nir" class="col-sm-${widthLabel} control-label">N° de sécurité sociale :</label>
	            <input id="nir" name="postData.nir" value='${data.hidden_nir}' class="col-sm-${widthInput}" required="" type="text">
		    </div>
		
		    #{buttonsPrevNext /}
		
		</div><!--fin contenu -image-->
	
	</div><!--fin contenu-->
	<div class="col-sm-1"></div>
</div>

#{if test}

	*{ Données de tests }*
	
	<div class="col-sm-12 font-normal padding-top">
		<div class="col-sm-1"></div>
		<div class="contenu col-sm-10">
		
			<i>CANCAVA & ORGANIC = RSI</i>
			<table>
				<tr>
					<td>Nom</td>
					<td>NIR</td>
					<td>Régimes</td>
					<td>Utiliser</td>
				</tr>
			   	#{list items:data.fakeData, as:'aFakeData'}
					<tr>
						<td>${aFakeData.nom}</td>
						<td>${aFakeData.nir}</td>
						<td>${aFakeData.regimes}</td>
						<td><button class='btn btn-success' onclick='RetraiteGetUserData.fillForm("${aFakeData.nom}","${aFakeData.nir}");return false;'><span class="glyphicon glyphicon-play"></span></button></td>
					</tr>
			    #{/list}
			</table>
			
		</div>
		<div class="col-sm-1"></div>
	</div>
#{/if}
