@charset "UTF-8";
body {
  padding: 0;
  padding-top: 85px;
  /*font-size: 18px;*/
  font-size: 1em;
}

body, a, a:hover, a:visited {
  color: black;
}

a {
  text-decoration: underline;
}

.navbar-fixed-top {
  /* Marge supplémentaire à cause de la petite barre d'état sur l'iPad */
  padding-top: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  /*font-size: 24px;*/
  font-size: 1.333em;
}

.form-control {
  display: inline-block;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: ligthgray;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    /* XN 730px */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.xxx-select {
  width: auto;
  display: inline;
}

.info {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.error {
  color: red;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.question {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.question-infos {
  font-style: italic;
  /*font-size: 14px;*/
  font-size: 0.778em;
}

.choice input[type="radio"], .choice input[type="checkbox"] {
  margin-right: 10px;
}

.caisse {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 255px;
  font-weight: bold;
  /*font-size: 18px;*/
  font-size: 1em;
  margin: 10px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 140px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.caisse:hover, .caisse:hover a {
  background-color: #337ab7;
  color: #ddd;
}

.caisse {
  cursor: pointer;
}

.caisse-details {
  text-align: left;
  /*font-size: 13px;*/
  font-size: 0.722em;
}

.caisse ul {
  -webkit-padding-start: 20px;
}

.table-interlocuteur {
  /*font-size: 16px;*/
  font-size: 0.889em;
}

.panel-heading {
  cursor: pointer;
}

.panel-heading a {
  color: #ddd;
}

.panel-body, .panel-body a {
  color: black;
}

.show-details {
  float: left;
}

.delai {
  font-style: italic;
}

.infos {
  font-style: italic;
}

.precision {
  font-style: italic;
}

.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}

.progress-bar {
  background-color: rgba(164, 51, 183, 0.67);
}

.ta-scroll-window.form-control {
  min-height: 100px;
  height: 100px;
  width: 100%;
}

.ta-scroll-window > .ta-bind {
  min-height: 100px;
}

text-angular, textarea {
  width: 100%;
}

.dropdown-menu > li > a {
  text-decoration: none;
}

.condition {
  margin-right: 5px;
  margin-bottom: 5px;
}

textarea.form-control, .dropdown-menu {
  font-size: 100%;
}

.my-date {
  width: 110px;
}

td {
  border: solid 1px black;
  padding: 5px;
}

.hiddeninfos {
  color: white;
}

.div-date-depart {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

label.label-for-question-choice {
  font-weight: normal;
}

/* -----------------------------------------------------------------------------
   Utils
----------------------------------------------------------------------------- */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================================================================
   Box sizing
============================================================================= */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* =============================================================================
   Display
============================================================================= */
/* -----------------------------------------------------------------------------
   Display helpers
----------------------------------------------------------------------------- */
.is-hidden {
  display: none;
}

.visually-hidden,
.fieldset-hidden legend {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* -----------------------------------------------------------------------------
   Visibility classes
----------------------------------------------------------------------------- */
.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.hidden-md {
  display: none !important;
}

.visible-md {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: inherit !important;
  }

  .visible-md {
    display: none !important;
  }

  .visible-sm {
    display: inherit !important;
  }

  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-md {
    display: inherit !important;
  }

  .visible-md {
    display: none !important;
  }

  .visible-xs {
    display: inherit !important;
  }

  .hidden-xs {
    display: none !important;
  }
}
/* =============================================================================
   Alignments
============================================================================= */
.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.valign-top {
  vertical-align: top !important;
}

.valign-middle {
  vertical-align: middle !important;
}

.valign-bottom {
  vertical-align: bottom !important;
}

.align-start {
  float: left;
}

.align-end {
  float: right;
}

.align-clear {
  clear: both;
}

/* =============================================================================
   Images
============================================================================= */
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
}

/* -----------------------------------------------------------------------------
   Vendors
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
   Theme
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
   @Font-face
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
   @Font-face
----------------------------------------------------------------------------- */
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/robotocondensed-regular-webfont.eot");
  src: url(../../fonts/Roboto/robotocondensed-regular-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/Roboto/robotocondensed-regular-webfont.woff2"), url("../../fonts/Roboto/robotocondensed-regular-webfont.woff"), url("../../fonts/Roboto/robotocondensed-regular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/robotocondensed-bold-webfont.eot");
  src: url(../../fonts/Roboto/robotocondensed-bold-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/Roboto/robotocondensed-bold-webfont.woff2"), url("../../fonts/Roboto/robotocondensed-bold-webfont.woff"), url("../../fonts/Roboto/robotocondensed-bold-webfont.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/robotocondensed-light-webfont.eot");
  src: url(../../fonts/Roboto/robotocondensed-light-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/Roboto/robotocondensed-light-webfont.woff2"), url("../../fonts/Roboto/robotocondensed-light-webfont.woff"), url("../../fonts/Roboto/robotocondensed-light-webfont.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/opensans-regular-webfont.eot");
  src: url(../../fonts/OpenSans/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/OpenSans/opensans-regular-webfont.woff2"), url("../../fonts/OpenSans/opensans-regular-webfont.woff"), url("../../fonts/OpenSans/opensans-regular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/opensans-bold-webfont.eot");
  src: url(../../fonts/OpenSans/opensans-bold-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/OpenSans/opensans-bold-webfont.woff2"), url("../../fonts/OpenSans/opensans-bold-webfont.woff"), url("../../fonts/OpenSans/opensans-bold-webfont.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/opensans-semibold-webfont.eot");
  src: url(../../fonts/OpenSans/opensans-semibold-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/OpenSans/opensans-semibold-webfont.woff2"), url("../../fonts/OpenSans/opensans-semibold-webfont.woff"), url("../../fonts/OpenSans/opensans-semibold-webfont.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/opensans-light-webfont.eot");
  src: url(../../fonts/OpenSans/opensans-light-webfont.eot?#iefix) format('embedded-opentype'), url("../../fonts/OpenSans/opensans-light-webfont.woff2"), url("../../fonts/OpenSans/opensans-light-webfont.woff"), url("../../fonts/OpenSans/opensans-light-webfont.ttf");
  font-weight: 300;
  font-style: normal;
}
.font-Verdana {
  font-family: "Verdana";
}

.font-Arial {
  font-family: "Arial";
}

/* =============================================================================
   Interactions
============================================================================= */
/* Selection */
::selection {
  background-color: #737400;
  color: #fff;
}

::-moz-selection {
  background-color: #737400;
  color: #fff;
}

/* Tap focus color */
html {
  -webkit-tap-highlight-color: rgba(115, 116, 0, 0.5);
}

/* =============================================================================
   Layout
============================================================================= */
/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */
html {
  background: #fff;
  margin: 0;
  height: 100%;
  font-family: Open sans, Arial, Helvetica, sans-serif;
}

body {
  background: #e7e7e7;
  margin: 0;
  padding: 0;
  font-family: Open sans, Arial, Helvetica, sans-serif;
}

/* -----------------------------------------------------------------------------
   Wrappers
----------------------------------------------------------------------------- */
.outer-wrap {
  overflow: hidden;
}

.inner-wrap {
  max-width: 1280px;
}

.wrap {
  clear: both;
}

.page:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  width: 280px;
  float: left;
  margin-left: 1em;
}
@media only screen and (max-width: 767px) {
  .sidebar {
    clear: both;
    float: none;
    width: auto;
    margin: 0;
  }
}

/* -----------------------------------------------------------------------------
   Components
----------------------------------------------------------------------------- */
/* =============================================================================
   Links
============================================================================= */
/* -----------------------------------------------------------------------------
   Default link's style
----------------------------------------------------------------------------- */
a {
  color: #474747;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
a:focus img {
  outline: 1px dashed #737400;
}

/* =============================================================================
   Block
============================================================================= */
.block-module-name {
  margin: 20px 0;
}

/* =============================================================================
   Lists
============================================================================= */
/* -----------------------------------------------------------------------------
   Lists
----------------------------------------------------------------------------- */
/* =============================================================================
   Texts
============================================================================= */
/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */
html {
  font: 0.625em/1.5 "Open sans", "Arial", "Helvetica", sans-serif;
  color: #474747;
}

body {
  font-size: 1.2rem;
}

/* -----------------------------------------------------------------------------
   Text styles
----------------------------------------------------------------------------- */
.uppercase {
  text-transform: uppercase;
}

/* -----------------------------------------------------------------------------
   Headings
----------------------------------------------------------------------------- */
/* =============================================================================
   Button
============================================================================= */
/* -----------------------------------------------------------------------------
   Helpers
----------------------------------------------------------------------------- */
.btn-wide {
  display: block;
  width: 100%;
  float: none;
}

.btn-bigger {
  padding: 15px 25px;
}

.btn-small {
  padding: 2px 5px;
  font-size: 1.2em;
}

/* -----------------------------------------------------------------------------
   Styles
----------------------------------------------------------------------------- */
.btn {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  transition: all 300ms;
}
.btn:hover, .btn:focus, .btn:active {
  text-decoration: none;
}

/*.btn-x {
  @include btn-default;
  @include btn-bigger;

  @include hover {

  }
}*/
.modal-footer button.btn {
  background-image: none;
  padding-right: 10px;
}

/*bouton home/etape/information noir et blanc*/
input.btn {
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  box-shadow: 0 4px 5px 0 #c8c8c8;
  font-size: 2.2rem;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
}

input.btn:link,
input.btn:visited {
  background-color: #d2d200;
  background: #d2d200 url("../../img/sprites/next_black.png") no-repeat right 13px;
  padding-right: 30px;
  color: #000;
}

input.btn:hover,
input.btn:focus {
  background-color: #737400;
  background: #737400 url("../../img/sprites/next_white.png") no-repeat right 13px;
  padding-right: 30px;
  color: #fff;
}

.btn {
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 5px 0 #c8c8c8;
  font-size: 2.2rem;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
}

.modal-footer .btn,
.btn:link,
.btn:visited {
  background-color: #d2d200;
  color: #000;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #737400;
  color: #fff;
}

.btn-next,
.btn-success {
  background: #d2d200 url("../../img/sprites/next_black.png") no-repeat right 13px;
  padding-right: 30px;
}

.btn-precedente {
  background: #d2d200 url("../../img/sprites/previous_black.png") no-repeat left 13px;
  padding-left: 30px;
  float: left;
  z-index: 1;
}

.btn-precedente:link,
.btn-precedente:visited {
  background: #d2d200 url("../../img/sprites/previous_black.png") no-repeat left 13px;
}

.btn-precedente:hover,
.btn-precedente:focus,
.btn-precedente:active {
  background: #737400 url("../../img/sprites/previous_white.png") no-repeat left 13px;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn.focus:active,
.btn:active:focus, .btn:focus,
.btn.valid:focus, .btn-valid:focus {
  outline-style: none;
}

.btn:active {
  -webkit-box-shadow: 0px 1px 2px #bbb;
  -moz-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
}

.form-group .btn.active.btn-next,
.form-group .btn:active.btn-next {
  background: #737400 url("../../img/sprites/next_white.png") no-repeat right 13px;
}

body .container.information .contenu .bandeau-scroll {
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
  z-index: 10;
  width: 872px;
  text-align: center;
}
body .container.information .contenu p.bouton {
  text-align: center;
}
body .container.information .contenu button.btn {
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 5px 0 #c8c8c8;
  font-size: 2.2rem;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  margin-right: 59px;
  overflow: hidden;
}
body .container.information .contenu .bouton button:link,
body .container.information .contenu .bouton button:visited {
  background-color: #d2d200;
  text-transform: none;
  color: #000;
}
body .container.information .contenu .record {
  background: #d2d200 url("../../img/sprites/save_black.png") no-repeat 10px 11px;
  height: 57px;
  overflow: hidden;
  display: block;
  color: #000;
}
body .container.information .contenu .print {
  background: #d2d200 url("../../img/sprites/print_black.png") no-repeat 10px 7px;
  height: 57px;
  overflow: hidden;
  display: block;
  color: #000;
}
body .container.information .contenu .mail {
  background: #d2d200 url("../../img/sprites/mail_black.png") no-repeat 10px 15px;
  height: 57px;
  overflow: hidden;
  display: block;
  color: #000;
}
body .container.information .contenu .bouton button:hover,
body .container.information .contenu .bouton button:focus {
  background-color: #737400;
  color: #fff;
}
body .container.information .contenu .record:hover,
body .container.information .contenu .record:focus {
  background: #737400 url("../../img/sprites/save.png") no-repeat 10px 11px;
  height: 57px;
  overflow: hidden;
  display: block;
  color: #fff;
}
body .container.information .contenu .print:hover,
body .container.information .contenu .print:focus {
  background: #737400 url("../../img/sprites/print.png") no-repeat 10px 7px;
  height: 57px;
  overflow: hidden;
  display: block;
  color: #fff;
}
body .container.information .contenu .mail:hover,
body .container.information .contenu .mail:focus {
  background: #737400 url("../../img/sprites/mail.png") no-repeat 10px 15px;
  height: 57px;
  overflow: hidden;
  display: block;
  color: #fff;
}
body .container.information .contenu .bouton .btn {
  float: left;
  text-align: center;
  padding-left: 58px;
}
body .container.information .contenu .btn {
  padding-left: 58px;
  float: left;
}

/* =============================================================================
   Tables
============================================================================= */
.table {
  border-collapse: collapse;
  /*font-size: 14px;*/
  font-size: 0.778em;
  width: 100%;
  border: 1px solid #1c1c1c;
  border-bottom: 2px solid #737400;
  background: #fff;
}
.table th,
.table td {
  padding: 10px 18px;
}
.table th {
  position: relative;
  background: #f6f6f6;
  font-weight: normal;
  text-align: left;
}
.table tr {
  border-bottom: 1px solid #707070;
}
.table tr:hover td {
  background: #f6f6f6;
}
.table tfoot tr:nth-child(2n+1),
.table tfoot tr {
  background: #f6f6f6;
}

.table-stripped tr:nth-child(2n+1) {
  background: #f9f9f9;
}

/* -----------------------------------------------------------------------------
   Sort
----------------------------------------------------------------------------- */
.table-sort-asc,
.table-sort-desc {
  display: block;
}
.table-sort-asc:after,
.table-sort-desc:after {
  content: '';
  float: right;
  display: inline-block;
  margin-left: 10px;
  margin-top: 7px;
}

/* =============================================================================
   Media
============================================================================= */
/* =============================================================================
   Breadcrumb
============================================================================= */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li + li:before {
  display: inline;
  content: ' / ';
  font-weight: normal;
}
.breadcrumb a {
  text-decoration: underline;
}
.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active {
  text-decoration: none;
}

.breadcrumb-current {
  font-weight: bold;
}

/* =============================================================================
   Forms
============================================================================= */
/* -----------------------------------------------------------------------------
   Forms theme
----------------------------------------------------------------------------- */
/* =============================================================================
   Forms helpers
============================================================================= */
/* -----------------------------------------------------------------------------
   Placeholder
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
   Mixins
----------------------------------------------------------------------------- */
.label-inline {
  display: inline;
  float: none;
  width: auto;
  margin-right: 1em;
  text-align: left;
}
.label-inline + input,
.label-inline + select,
.label-inline + textarea {
  width: auto;
}

.label-block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
}

.label-start {
  float: left;
  width: 150px;
  margin-right: 15px;
  text-align: right;
  padding-top: 10px;
}
.label-start + input,
.label-start + select,
.label-start + textarea {
  width: auto;
}

.form-label-start .label,
.form-label-start label {
  float: left;
  width: 150px;
  margin-right: 15px;
  text-align: right;
  padding-top: 10px;
}
.form-label-start .label + input,
.form-label-start .label + select,
.form-label-start .label + textarea,
.form-label-start label + input,
.form-label-start label + select,
.form-label-start label + textarea {
  width: auto;
}

.fieldset-hidden {
  border: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------
   Responsive
----------------------------------------------------------------------------- */
@media only screen and (max-width: 1199px) {
  .label-block-md {
    display: block;
    float: none;
    text-align: left;
    width: auto;
  }

  .label-start-md {
    float: left;
    width: 150px;
    margin-right: 15px;
    text-align: right;
    padding-top: 10px;
  }
  .label-start-md + input,
  .label-start-md + select,
  .label-start-md + textarea {
    width: auto;
  }

  .label-inline-md {
    display: inline;
    float: none;
    width: auto;
    margin-right: 1em;
    text-align: left;
  }
  .label-inline-md + input,
  .label-inline-md + select,
  .label-inline-md + textarea {
    width: auto;
  }
}
@media only screen and (max-width: 991px) {
  .label-block-sm {
    display: block;
    float: none;
    text-align: left;
    width: auto;
  }

  .label-start-sm {
    float: left;
    width: 150px;
    margin-right: 15px;
    text-align: right;
    padding-top: 10px;
  }
  .label-start-sm + input,
  .label-start-sm + select,
  .label-start-sm + textarea {
    width: auto;
  }

  .label-inline-sm {
    display: inline;
    float: none;
    width: auto;
    margin-right: 1em;
    text-align: left;
  }
  .label-inline-sm + input,
  .label-inline-sm + select,
  .label-inline-sm + textarea {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .label-block-xs {
    display: block;
    float: none;
    text-align: left;
    width: auto;
  }

  .label-start-xs {
    float: left;
    width: 150px;
    margin-right: 15px;
    text-align: right;
    padding-top: 10px;
  }
  .label-start-xs + input,
  .label-start-xs + select,
  .label-start-xs + textarea {
    width: auto;
  }

  .label-inline-xs {
    display: inline;
    float: none;
    width: auto;
    margin-right: 1em;
    text-align: left;
  }
  .label-inline-xs + input,
  .label-inline-xs + select,
  .label-inline-xs + textarea {
    width: auto;
  }
}
/* =============================================================================
   Form reset
============================================================================= */
form,
fieldset {
  margin: 0;
}

input,
button,
select,
label {
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}

legend {
  margin-left: 1em;
  border: 0;
  white-space: normal;
}

label {
  cursor: pointer;
}

textarea {
  min-height: 5em;
  overflow: auto;
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  overflow: visible;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="text"],
input[type="search"] {
  margin: 0;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 13px;
  height: 13px;
}

input.placeholder,
textarea.placeholder {
  opacity: 1;
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  font-style: italic;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  font-style: italic;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  font-style: italic;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  font-style: italic;
}

/* =============================================================================
   Form text
============================================================================= */
/* =============================================================================
   Select
============================================================================= */
/* -----------------------------------------------------------------------------
   Inline
----------------------------------------------------------------------------- */
.label-inline + select {
  width: auto;
}

/* -----------------------------------------------------------------------------
   Disabled
----------------------------------------------------------------------------- */
select:disabled {
  background: #f6f6f6;
  color: #b7b7b7;
}

/* -----------------------------------------------------------------------------
   Custom
----------------------------------------------------------------------------- */
.custom-select-container {
  position: relative;
  display: block;
  min-width: 150px;
}

select.replaced {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 41px;
  line-height: 41px;
  border: 0;
  filter: alpha(opacity=0);
  /* Move to IE-specific CSS file if you want to. */
  opacity: 0;
  padding: 0;
}

span.custom-select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 41px;
  z-index: 1;
  cursor: default;
}

.custom-select > .custom-select-content {
  display: block;
  overflow: hidden;
}
.custom-select > .custom-select-content > span {
  display: block;
  height: 41px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* -----------------------------------------------------------------------------
   Theme
----------------------------------------------------------------------------- */
.custom-select > .custom-select-arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: -1px;
  width: 48px;
  background: #737400;
  text-align: center;
}
.custom-select > .custom-select-arrow:after {
  content: '';
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 4px);
  border: solid transparent;
  height: 0;
  width: 0;
  border-top-color: #fff;
  border-width: 8px;
}
.custom-select.active > .custom-select-arrow {
  background-color: tint(#737400, 20%);
}
.custom-select > .custom-select-content {
  padding: 0 53px 0 0;
  border: 1px solid #ebe2da;
  border-radius: 3px;
  line-height: 41px;
  font-size: 1.4em;
  background: #fff;
  transition: transform 300ms;
}
.custom-select > .custom-select-content > span {
  padding-left: 10px;
}
.custom-select.active > .custom-select-content {
  background: #eee;
}

/* -----------------------------------------------------------------------------
   Formats
----------------------------------------------------------------------------- */
.format-x {
  width: 30px !important;
}

.format-xx {
  width: 40px !important;
}

.format-xxxx {
  width: 60px !important;
}

.format-date {
  width: 80px !important;
}

/* -----------------------------------------------------------------------------
   Layout
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
   Labels
----------------------------------------------------------------------------- */
label {
  display: block;
  float: none;
  text-align: left;
  width: auto;
}
input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline;
  float: none;
  width: auto;
  margin-right: 1em;
  text-align: left;
}
input[type="checkbox"] + label + input,
input[type="checkbox"] + label + select,
input[type="checkbox"] + label + textarea, input[type="radio"] + label + input,
input[type="radio"] + label + select,
input[type="radio"] + label + textarea {
  width: auto;
}

/* -----------------------------------------------------------------------------
   Moving label
----------------------------------------------------------------------------- */
.moving-label {
  position: absolute;
  padding: 0 5px;
  cursor: text;
  line-height: 1.2;
  top: 7px;
  left: 5px;
  transition: all 300ms;
}

.moving-label-focus {
  background: #fff;
  top: -7px;
}

/* =============================================================================
   Article
============================================================================= */
.article h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em 0 0.5em;
}
.article h1:first-child {
  margin-top: 0;
}
.article h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0 0.5em;
}
.article h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em 0 0.5em;
}
.article h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0 0.5em;
}
.article h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0 0.5em 1em;
}
.article h6 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 1em 0 0.5em 1em;
}
.article .chapeau {
  font-weight: bold;
}
.article p:first-child,
.article h1 + p,
.article h2 + p,
.article h3 + p,
.article h4 + p,
.article h5 + p,
.article h6 + p {
  margin-top: 0;
}
.article a {
  text-decoration: underline;
}
.article a:hover, .article a:focus, .article a:active {
  text-decoration: none;
}
.article ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.article ul li {
  padding-left: 12px;
  position: relative;
}
.article ul li:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  background: #737400;
}
.article ul li li:before {
  top: 8px;
  height: 2px;
}

/* =============================================================================
   Header
============================================================================= */
/* =============================================================================
   Footer
============================================================================= */
.main-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
   Navigation
============================================================================= */
/* -----------------------------------------------------------------------------
   Pages
----------------------------------------------------------------------------- */
/* =============================================================================
   Home
============================================================================= */
header.entete {
  background: #fff url("../../img/sprites/background.png") left bottom;
  background-repeat: repeat-x;
  height: 92px;
  position: relative;
  margin: 0 auto;
}
header.entete .logo {
  padding: 2px 0 0;
  position: absolute;
  display: inline;
}
header.entete .header-inner {
  max-width: 900px;
  margin: 0 auto;
}
header.entete .home.header-inner {
  max-width: 754px;
  margin: 0 auto;
}
header.entete .title {
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("../../img/sprites/img_header.png");
  text-align: center;
  height: 148px;
  cursor: default;
}
header.entete .title h1 {
  color: #fff;
  font-size: 3.2rem;
  margin: 0 0 7px 0;
  padding: 3px 0 8px 0;
  text-transform: uppercase;
  font-family: Open sans, Arial, Helvetica, sans-serif;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url("../../img/sprites/filet_white.png");
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
}
header.entete .title h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2.0rem;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
}
header.entete .title a:link,
header.entete .title a:visited {
  text-decoration: none;
}

body .container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  cursor: default;
}
body .container .wrapper {
  background: #e7e7e7;
  padding-bottom: 50px;
}
body .container .contenu-image {
  background: url("../../img/sprites/background_fleche.png") right bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 30px;
}
body .container .contenu {
  background-color: #fff;
  margin: 42px auto 10px;
  box-shadow: 0 0 10px 5px #c8c8c8;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}
body .container .contenu .box {
  background: #f6f6f6 url("../../img/sprites/border_box.png") left bottom;
  background-repeat: repeat-x;
  height: 148px;
  text-align: center;
  margin-bottom: 40px;
}
body .container .contenu .box h2 {
  font-size: 2.8rem;
  font-family: "Open sans", "Arial", "Helvetica", sans-serif;
  color: #1c1c1c;
  font-weight: 300;
  padding-top: 17px;
  margin: 0;
}
body .container .contenu .box h3 {
  font-family: "Open sans", "Arial", "Helvetica", sans-serif;
  font-size: 2.0rem;
  color: #707070;
  font-weight: 300;
  padding-top: 10px;
  margin: 0;
}
body .container .contenu .form-group {
  margin: 0 0 15px 0;
  overflow: hidden;
  height: 40px;
}
body .container .contenu .form-group label {
  cursor: default;
}
body .container .contenu .form-group .control-label {
  display: block;
  font-size: 1.8rem;
  color: #737400;
  float: left;
  font-weight: bold;
  padding-top: 5px;
}
body .container .contenu .form-group .my-date,
body .container .contenu .form-group .xxx-select {
  width: 100%;
}
body .container .contenu .form-group input[type="text"],
body .container .contenu .form-group select {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1.8rem;
  color: #707070;
  font-style: normal;
  overflow: hidden;
  height: 40px;
}
body .container .contenu .form-group .select-wrapper {
  display: block;
  overflow-x: hidden;
}
body .container .contenu .form-group .select-wrapper:after {
  content: "";
  background: url("../../img/sprites/select_suivant.png") no-repeat top right;
  display: inline;
  position: absolute;
  float: right;
  width: 47px;
  text-align: center;
  top: 0;
  height: 42px;
  overflow: hidden;
  right: 15px;
}
body .container .contenu .form-group input.my-date {
  display: inline;
  overflow: hidden;
  clear: both;
}
body .container .contenu .form-group .add-on {
  overflow: hidden;
  cursor: pointer;
}
body .container .contenu .form-group .add-on:after {
  content: "";
  background: url("../../img/sprites/calendar.png") no-repeat top right;
  display: inline;
  position: absolute;
  float: right;
  width: 47px;
  top: 9px;
  height: 31px;
  right: 29px;
}
body .container .contenu .form-group .input-group-addon {
  background-color: #fff;
  width: 81px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}
body .container .contenu .form-group select {
  display: block;
  padding-bottom: 6px;
}
body .container .contenu .form-group.row.etape {
  height: 100%;
  width: 100%;
  margin-left: 0;
}
body .container .contenu .text-right {
  text-align: right;
}

.error {
  color: #ff0000;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

body .container input.btn-next[disabled] {
  background-color: #a7a7a7 !important;
  opacity: .65;
}

footer {
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  margin-top: 0;
  color: #707070;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
}
footer .wrapper-inner {
  overflow: hidden;
  margin: 16px 0 5px;
}
footer .footer-right {
  float: right;
  text-align: right;
}
footer .footer-right li {
  padding-left: 40px;
}
footer .footer-nav {
  margin-top: 23px;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  display: inline;
  font-size: 1.6rem;
  color: #707070;
  list-style: none;
}
footer a:link,
footer a:visited {
  color: #707070;
}
footer a:focus img,
footer a:hover img {
  outline-style: none;
}

body .container.padding-bottom {
  padding-bottom: 20px;
}

/*@media (min-width: @screen-sm-min) {     768px*/
@media screen and (max-width: 991px) {
  .container .contenu .form-group .control-label {
    padding-left: 0px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  footer .wrapper-inner {
    padding-top: 10px;
  }

  footer ul {
    padding-left: 0;
  }

  .footer-right ul li {
    padding-left: 6px;
  }

  footer .footer-nav {
    margin-top: 23px;
  }

  body .container .contenu .form-group {
    height: 70px;
  }

  .date {
    overflow: hidden;
    height: 40px;
  }
}
/*@media (min-width: @screen-sm-min) {  */
@media screen and (max-width: 691px) {
  .text-right {
    margin-right: 15px;
  }

  footer {
    margin-left: -15px;
    margin-right: -15px;
  }

  footer .footer-nav {
    width: 30%;
  }
}
/* =============================================================================
   etape2
============================================================================= */
body .container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
body .container .wrapper {
  background: #e7e7e7;
  padding-bottom: 50px;
}
body .container .contenu {
  background-color: #fff;
  padding-bottom: 20px;
}
body .container .question.marg-top {
  margin-top: 42px;
}
body .container .question {
  margin-top: 20px;
  padding-right: 5px;
}
body .container .question h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #474747;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  padding-bottom: 25px;
  margin-bottom: 0;
}
body .container .question h2.titre {
  color: #282828;
  margin-bottom: 15px;
  padding-bottom: 0;
}
body .container .question .question-infos h4 {
  font-size: 2.0rem;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  color: #474747;
  margin-top: 0;
  margin-bottom: 25px;
}
body .container .question .label-for-question-choice {
  font-size: 2.0rem;
  color: #474747;
}
body .container .question .label-for-question-choice input {
  font-size: 2.0rem;
  font-family: "Open sans", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  color: #474747;
}
body .container .question .choice input[type="checkbox"] {
  margin-right: 20px;
  position: relative;
  border: 1px solid #b7b7b7;
  width: 23px;
  height: 23px;
  overflow: hidden;
  display: block;
  float: left;
  margin-bottom: 10px;
  color: #474747;
  top: 4px;
}
body .container .question .choice input[type="radio"] {
  float: left;
  margin-bottom: 16px;
  color: #474747;
  position: relative;
  top: 9px;
  width: 23px;
  height: 13px;
  margin-right: 20px;
}
body .container .form-group.row.btn {
  height: 100%;
  width: 100%;
  margin-left: 0;
}
body .container .text-right {
  text-align: right;
  padding-right: 0;
}

/* =============================================================================
   information
============================================================================= */
body .container.information {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
body .container.information .wrapper {
  background: #e7e7e7;
  padding-bottom: 50px;
}
body .container.information .contenu {
  background-color: #fff;
  padding-bottom: 0;
  margin-bottom: 0;
}
body .container.information .contenu h2 {
  font-size: 3.2rem;
  color: #737400;
  text-align: center;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
}
body .container.information .contenu .question {
  margin-bottom: 0;
}
body .container.information .contenu .question h2 {
  padding-bottom: 16px;
  background: url("../../img/sprites/bg_title_information.png") repeat-x left bottom;
  margin-bottom: 0;
}
body .container.information .contenu .bg-box {
  background-color: #f5f5f5;
  overflow: hidden;
  color: #474747;
  font-size: 2.0rem;
}
body .container.information .contenu ul.sanspuce {
  list-style: none;
}
body .container.information .contenu ul.sanspuce li {
  margin-bottom: 20px;
  font-weight: normal;
}
body .container.information .contenu ul.sanspuce.col-right li {
  overflow: hidden;
  font-weight: 600;
  line-height: 28px;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur {
  border: none;
  /* XN text-align: center; */
  background-color: #f5f5f5;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur tr {
  border-bottom: none;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur td {
  border: none;
  font-size: 1.8rem;
  color: #474747;
  font-weight: normal;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur td.border-right {
  border-right: 1px solid #737400;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur h4 {
  font-weight: bold;
  font-size: 2.0rem;
  color: #474747;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur h3 {
  color: #737400;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Open sans", "Arial", "Helvetica", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  padding-left: 60px;
}
body .container.information .contenu table.table.table-bordered.table-interlocuteur .text-left {
  text-align: left;
  padding-left: 60px;
}
body .container.information .contenu .adresse {
  position: relative;
}
body .container.information .contenu .adresse span.enveloppe {
  background: url("../../img/msa/enveloppe1.png") no-repeat left center;
  display: inline-block;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 1px;
  left: -32px;
}
body .container.information .contenu .numerotelephone {
  position: relative;
}
body .container.information .contenu .numerotelephone span.telephone {
  background: url("../../img/msa/telephone1.png") no-repeat left center;
  display: inline-block;
  height: 26px;
  width: 26px;
  position: absolute;
  left: -32px;
  top: 1px;
}
body .container.information .contenu a:link,
body .container.information .contenu a:visited {
  color: #737400;
  font-weight: bold;
}
body .container.information .contenu ol {
  list-style-type: none;
  text-align: center;
}
body .container.information .contenu ol li {
  padding-bottom: 5px;
  font-size: 2.0rem;
  font-family: "Open sans", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
}
body .container.information .contenu ol li a:link,
body .container.information .contenu ol li a:visited {
  color: #737400;
  font-weight: normal;
}
body .container.information .contenu .bg-box {
  /* XN
  p {
  	padding-left: 32px;
  }*/
}
body .container.information .contenu .bg-box .box-white {
  background-color: #fff;
}
body .container.information .contenu .bg-box .bg-box ol li a:link,
body .container.information .contenu .bg-box .bg-box ol li a:visited {
  color: #737400;
}
body .container.information .contenu .bg-box .panel {
  border: 1px solid #dddddd;
  box-shadow: 0 0 3px 3px #e9e9e9;
  padding: 17px 0 0;
  border-radius: none;
}
body .container.information .contenu .bg-box .img_bg {
  background: url("../../img/sprites/bg_title_information.png") repeat-x left bottom;
  min-height: 63px;
  overflow: hidden;
  vertical-align: middel;
}
body .container.information .contenu .bg-box .carre {
  background-color: #737400;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  width: 40px;
  height: 46px;
  font-size: 2.8rem;
  display: block;
  color: #faf8f1;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 15px;
  margin-left: 21px;
  vertical-align: middel;
}
body .container.information .contenu .bg-box h3 {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  color: #474747;
  font-size: 2.2rem;
  padding-bottom: 8px;
  margin: 0 15px 10px 76px;
  text-transform: uppercase;
}
body .container.information .contenu .bg-box .panel-heading {
  background-color: #fafafa;
  border-bottom: none;
  color: #474747;
  font-size: 1.8rem;
  padding-bottom: 0;
}
body .container.information .contenu .bg-box .panel-body {
  padding-bottom: 0;
  background-color: #fafafa;
  color: #474747;
  font-size: 1.8rem;
}
body .container.information .contenu .bg-box .delai {
  color: #737400;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.0rem;
  text-align: center;
  padding-bottom: 15px;
  cursor: default;
}
body .container.information .contenu .bg-box .delai span.calendar {
  background: url("../../img/msa/icon_calendar.png") no-repeat left center;
  display: inline-block;
  height: 31px;
  width: 31px;
  position: relative;
  margin-right: 10px;
  top: 5px;
}
body .container.information .contenu .bg-box ul li {
  font-weight: normal;
}
body .container.information .contenu .bg-box ul.filet-left {
  border-left: 2px solid #737400;
  overflow: hidden;
  font-weight: normal;
  margin-left: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
body .container.information .contenu .bg-box .blue {
  color: #737400;
}
body .container.information .contenu .bg-box .bold {
  font-weight: bold;
}
body .container.information .contenu .bg-box .first {
  margin-bottom: 15px;
}
body .container.information .contenu .bg-box .precision {
  border-left: 2px solid #737400;
  font-style: normal;
  overflow: hidden;
  font-weight: normal;
  margin-left: 23px;
  padding: 0 15px;
  margin-bottom: 15px;
}
body .container.information .contenu .bg-box .precision p {
  padding-left: 0;
}
body .container.information .contenu .bg-box .info {
  border-left: 2px solid #737400;
  font-style: normal;
  overflow: hidden;
  font-weight: normal;
  margin: 0 0 15px 23px;
  padding: 0 15px;
  text-align: left;
}
body .container.information .contenu .bg-box .info p {
  padding-left: 0;
}
body .container.information .hiddeninfos {
  padding-top: 10px;
  color: #e7e7e7;
  display: none;
}

body .padding-bottom {
  padding-bottom: 20px;
}

input.btn-next {
  color: #000;
}

.bloc-info {
  border-top: 2px solid #737400;
  padding: 10px 10px 30px;
  background-color: #fff;
  margin-bottom: 20px;
  min-height: 120px;
}
.bloc-info img {
  float: left;
  margin-right: 5%;
  margin-left: 15%;
}
.bloc-info h3 {
  color: #474747;
  font-size: 2.6rem;
  text-align: left;
  margin-left: 15%;
  font-weight: bold;
  margin-top: 10px;
}

.liste-personnalise {
  background: #fff url("../../img/msa/info.png") no-repeat 20px 0;
  height: 99px;
  width: 103px;
  display: block;
  float: left;
  margin-left: 116px;
  margin-right: 32px;
}

/*@media (min-width: @screen-sm-min) {     768px*/
@media screen and (max-width: 1024px) {
  body .container.information .contenu .bg-box p {
    padding-left: 0;
  }

  button.btn {
    margin-right: 5px;
  }

  .bandeau-scroll {
    width: 745px;
  }
}
/*@media (min-width: @screen-sm-min) {     768px*/
@media screen and (max-width: 991px) {
  body .container.information .contenu .bandeau-scroll {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  body .container.information .contenu .bandeau-scroll p button {
    margin-right: 3%;
  }

  ul.sanspuce.text-right {
    width: 47%;
    float: left;
    padding-right: 3%;
  }

  .bloc-info {
    padding-right: 5px;
  }
}
/*@media (min-width: @screen-sm-min) {  */
@media screen and (max-width: 691px) {
  body .container.information .contenu .bandeau-scroll {
    width: 100%;
  }

  body .container.information .contenu .bandeau-scroll p button {
    margin-right: 1%;
  }
}
.sortie {
  padding-top: 30px;
}
.sortie h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #474747;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sortie a {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------------
   Print
----------------------------------------------------------------------------- */
/* quick print reset */
@media print {
  * {
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    width: auto !important;
    margin: auto !important;
    font-family: serif;
    font-size: 12pt;
    background-color: #fff !important;
  }

  /* no orphans, no widows */
  p,
  blockquote {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid;
  }

  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }

  a {
    color: #000 !important;
    text-decoration: underline !important;
  }
}

/*# sourceMappingURL=msa.css.map */
