// =============================================================================
// Fonts
// =============================================================================


/// Convert `px` to `em`
/// @param {px} $target - Targeted font-size
/// @param {px} $context [$base-font-size] - Context font-size
/// @group theme
@function em($target, $context: $base-font-size) {
  @return $target / $context * 1em;
}



/* -----------------------------------------------------------------------------
   @Font-face
----------------------------------------------------------------------------- */


// Cross-browser support for @font-face. Supports IE, Gecko, Webkit, Opera.
//
// * $name is required, arbitrary, and what you will use in font stacks.
// * $font-files is required using font-files('relative/location', 'format').
//   for best results use this order: woff, opentype/truetype, svg
// * $eot is required by IE, and is a relative location of the eot file.
// * $weight shows if the font is bold, defaults to normal
// * $style defaults to normal, might be also italic
// * For android 2.2 Compatiblity, please ensure that your web page has
//   a meta viewport tag.
// * To support iOS < 4.2, an SVG file must be provided
//
// If you need to generate other formats check out the Font Squirrel
// [font generator](http://www.fontsquirrel.com/fontface/generator)
//

// In order to refer to a specific style of the font in your stylesheets as
// e.g. "font-style: italic;",  you may add a couple of @font-face includes
// containing the respective font files for each style and specying
// respective the $style parameter.

// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

@mixin font-face(
  $name,
  $font-files,
  $eot: false,
  $weight: false,
  $style: false
) {
  $iefont: unquote("#{$eot}?#iefix");
  @font-face {
    font-family: quote($name);
    @if $eot {
      src: url($eot);
      $font-files: url($iefont) unquote("format('embedded-opentype')"), $font-files;
    }
    src: $font-files;
    @if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-style: $style;
    }
  }
}




/* -----------------------------------------------------------------------------
   @Font-face
----------------------------------------------------------------------------- */

@include font-face("Roboto", (url("../fonts/Roboto/robotocondensed-regular-webfont.woff2"), url("../fonts/Roboto/robotocondensed-regular-webfont.woff"), url("../fonts/Roboto/robotocondensed-regular-webfont.ttf")), "../fonts/Roboto/robotocondensed-regular-webfont.eot", normal, normal);
@include font-face("Roboto", (url("../fonts/Roboto/robotocondensed-bold-webfont.woff2"), url("../fonts/Roboto/robotocondensed-bold-webfont.woff"), url("../fonts/Roboto/robotocondensed-bold-webfont.ttf")), "../fonts/Roboto/robotocondensed-bold-webfont.eot", bold, normal);
@include font-face("Roboto", (url("../fonts/Roboto/robotocondensed-light-webfont.woff2"), url("../fonts/Roboto/robotocondensed-light-webfont.woff"), url("../fonts/Roboto/robotocondensed-light-webfont.ttf")), "../fonts/Roboto/robotocondensed-light-webfont.eot", 300, normal);

@include font-face("Open Sans", (url("../fonts/OpenSans/opensans-regular-webfont.woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff"), url("../fonts/OpenSans/opensans-regular-webfont.ttf")), "../fonts/OpenSans/opensans-regular-webfont.eot", normal, normal);
@include font-face("Open Sans", (url("../fonts/OpenSans/opensans-bold-webfont.woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff"), url("../fonts/OpenSans/opensans-bold-webfont.ttf")), "../fonts/OpenSans/opensans-bold-webfont.eot", bold, normal);
@include font-face("Open Sans", (url("../fonts/OpenSans/opensans-semibold-webfont.woff2"), url("../fonts/OpenSans/opensans-semibold-webfont.woff"), url("../fonts/OpenSans/opensans-semibold-webfont.ttf")), "../fonts/OpenSans/opensans-semibold-webfont.eot", 600, normal);
@include font-face("Open Sans", (url("../fonts/OpenSans/opensans-light-webfont.woff2"), url("../fonts/OpenSans/opensans-light-webfont.woff"), url("../fonts/OpenSans/opensans-light-webfont.ttf")), "../fonts/OpenSans/opensans-light-webfont.eot", 300, normal);



// -----------------------------------------------------------------------------
// Fonts variables
// -----------------------------------------------------------------------------

/// Font-stack map
///
/// @group theme
/// @example scss - Usage
///   font-family: $font-stack;
$font-stack: ('Arial', 'Helvetica', sans-serif);

/// Second font-stack map
///
/// @group theme
/// @example scss - Usage
///   font-family: $font-stack-alt;
$font-stack-alt: ('Roboto', 'Arial', 'Helvetica', sans-serif);

/// Base font-size
///
/// @group theme
$base-font-size: 12px; // em unit - If 12px then 1em = 12px
//$base-font-size: 10px; // rem unit : 1.2rem = 12px / 2rem = 20px

/// Base line-height
///
/// @group theme
$base-line-height: 1.2;



// -----------------------------------------------------------------------------
// Fonts variables
//
$font: Open sans, Arial, Helvetica, sans-serif;
//$font-1: Open sans bold;
$font-alt: Roboto Condensed, Arial, Helvetica, sans-serif;
//$font-alt-1: Roboto Condensed light;

//$base-font-size: 12px; // If 12px then 1em = 12px
$base-font-size: 10px; // rem : 1.2rem = 12px / 2rem = 20px
$base-line-height: 1.5;



@each $font-name in 'Verdana', 'Arial' {
  .font-#{$font-name} { font-family: $font-name; }
}
