// =============================================================================
// Colors
// =============================================================================


$red: #984f6a;
$red-1:#af536c;
$red-2: #7c455f;

$blue: #0b6ba8;
$blue-1: #337ab7;
$blue-dark: #045589;
//$blue-light: tint($blue, 20%);
//$blue-dark: shade($blue, 20%);

$grey-7: #faf8f1;
$grey-8: #e5e5e5;


/// Brand color
/// @group theme
$brand: $blue;

/// Brand highlight
/// @group theme
$brand-highlight: tint($brand, 20%);


$pathImg : "../../img/rsi";

$big-chiffre-display: block;
$border-left-min-height : 210px;