// =============================================================================
// Colors
// =============================================================================

//$red: #9e4872;
$red: #30c2a6; //bouton hover clair
//$red-1:#9b0950;
$red-1:#146455; //bouton fonce

//$blue: #0b6ba8;
$blue: #146455; // fonce texte
//$blue-1: #337ab7;
$blue-1: #30c2a6; // claire
$blue-dark: #146455; // fonce bouton
//$blue-light: tint($blue, 20%);
//$blue-dark: shade($blue, 20%);

$grey-7: #282828;
$grey-8: #707070;

/// Brand color
/// @group theme
$brand: $blue;


/// Brand highlight
/// @group theme
$brand-highlight: tint($brand, 20%);


$pathImg : "../../img/cnav";

$big-chiffre-display: none;
$border-left-min-height: 140px;