/* =============================================================================
   Layout
============================================================================= */

/// Site width
/// @group theme
$default-view-width: 1280px;

/// Offset width (ex: Labels width)
/// @group theme
$offset-width: 150px;


/// Spacing
/// @group theme
$spacing-default: 15px;

/// Spacing
/// @group theme
$spacing-lg: 20px;

/// Spacing
/// @group theme
$spacing-md: 15px;

/// Spacing
/// @group theme
$spacing-sm: 10px;

/// Spacing
/// @group theme
$spacing-xs: 5px;



/* -----------------------------------------------------------------------------
   Body
----------------------------------------------------------------------------- */
html {
  background: #fff;
  margin:0;
  height:100%;
  font-family: $font;
}

body {
  background: #e7e7e7;
  margin: 0;
  padding:0;
  font-family: $font;
}

@media screen and (max-width: 530px) {
	body {
		background: none;
	}
}

/* -----------------------------------------------------------------------------
   Wrappers
----------------------------------------------------------------------------- */

// Does not allow overflow (usefull for sliding menu)
.outer-wrap {
  overflow: hidden;
}

.inner-wrap {
  max-width: $default-view-width;
}

.wrap {
  clear: both;
}


.page {
  @include clearfix;
}

.sidebar {
  width: 280px;
  float: left;
  margin-left: 1em;

  @include mq-to( 'sm' ) {
    clear: both;
    float: none;
    width: auto;
    margin: 0;
  }
}
