#{extends 'main.html' /}
#{set title:'Accueil Parcours Retraite' /}
#{set pageCssClass:'oupsError' /}
#{set 'moreStyles'}
	#{stylesheet 'oupsError.css' /}
#{/set}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h1 class='align-center'>
	Mince... Il y a eu un problème... :-(

	<br/> 
	<br/> 
	
	Nous l'avons noté, et nous allons le traiter au plus vite. 

	<br/>
	<br/>
	 
	N'hésitez pas à revenir ultérieurement sur cette page.

	<br/>
	<br/>
	 
	Vous pouvez également 
	<a href="mailto:contact@retraite.beta.gouv.fr?subject=J'ai rencontré un problème&body=Voici ce que j'ai fait et ce qui s'est passé : " title="Contact pour signaler un problème" class="footer-feedback">nous contacter</a>
	pour nous donner des informations sur ce qui s'est passé de votre côté.
	
	<br/>
	<br/>

	Merci pour votre collaboration, et désolé pour la gêne occasionnée...	 
</h1>