<html>
    <head>

		<!-- NE PAS INTEGRER BOOTSTRAP POUR LE MOMENT... (pb génération PDF) -->
		
		<!-- injector:bowercss -->
		<!-- endinjector -->

		#{stylesheet 'style.css' /}
        #{stylesheet 'retraite-overwrite.css' /}
		
		#{stylesheet 'pdf.css' /}
		
    </head>


    <body>

        <div class="container padding-bottom information">

            <div class="wrapper">

				#{displayCheckList data:data /}
	
    		</div><!--fin wrapper-->

		</div><!--fin container-->


    </body>
</html>

